Source: cocoon
Section: kde
Priority: extra
Maintainer: Riyad Preukschas <riyad@informatik.uni-bremen.de>
Build-Depends: debhelper (>= 7), cmake, kdelibs5-dev (>= 4.2)
Standards-Version: 3.8.0
Homepage: http://gitorious.org/cocoon

Package: cocoon
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, git-core (>= 1.6.2)
Description: A Git GUI front end for KDE
 Features:
 * Creating and cloning repos
 * Manage multiple repos
 * Stage with commit capability
 * History with branch and merge detection
 * Possibility to compare the changes between any two commits
 * Embedded command line for the advanced stuff
