[Desktop Entry]
Name=Cocoon
Name[bg]=Cocoon
Name[bs]=Cocoon
Name[ca]=Cocoon
Name[ca@valencia]=Cocoon
Name[cs]=Cocoon
Name[da]=Cocoon
Name[de]=Cocoon
Name[el]=Cocoon
Name[en_GB]=Cocoon
Name[es]=Cocoon
Name[et]=Cocoon
Name[fi]=Cocoon
Name[fr]=Cocoon
Name[ga]=Cocoon
Name[gl]=Cocoon
Name[hu]=Cocoon
Name[it]=Cocoon
Name[ko]=Cocoon
Name[lt]=Cocoon
Name[mai]=Cocoon
Name[mr]=ककून
Name[nds]=Kokon
Name[nl]=Cocoon
Name[pa]=ਕੋਨੂਨ
Name[pl]=Cocoon
Name[pt]=Cocoon
Name[pt_BR]=Cocoon
Name[sk]=Cocoon
Name[sv]=Kokong
Name[tr]=Cocoon
Name[ug]=Cocoon
Name[uk]=Cocoon
Name[x-test]=xxCocoonxx
Name[zh_CN]=Cocoon
Exec=cocoon %i -caption "%c"
Icon=cocoon
Type=Application
X-DocPath=cocoon/index.html
GenericName=Git GUI for KDE
GenericName[bg]=Програма за Git в KDE
GenericName[bs]=Git GUI zaKDE
GenericName[ca]=IGU Git per KDE
GenericName[ca@valencia]=IGU Git per KDE
GenericName[cs]=Git GUI pro KDE
GenericName[da]=Git-brugerflade til KDE
GenericName[de]=Git-Oberfläche für KDE
GenericName[el]=Γραφικό περιβάλλον GIT του KDE
GenericName[en_GB]=Git GUI for KDE
GenericName[es]=Interfaz de usuario Git para KDE
GenericName[et]=KDE Giti graafiline kasutajaliides
GenericName[fi]=Gitin graafinen käyttöliittymä KDE:lle
GenericName[fr]=Interface graphique Git pour KDE
GenericName[ga]=Comhéadan Git le haghaidh KDE
GenericName[gl]=GUI para Git do KDE
GenericName[hu]=Grafikus Git felhasználói felület a KDE-hez
GenericName[it]=GUI di Git per KDE
GenericName[ko]=KDE용 Git GUI
GenericName[lt]=KDE GiT GNS
GenericName[mr]=केडीई साठी जिट जीयूआय
GenericName[nds]=KDE-Böversiet för Git
GenericName[nl]=Git-GUI voor KDE
GenericName[pa]=KDE ਲਈ ਗਿਟ GUI
GenericName[pl]=Graficzny interfejs użytkownika Git dla KDE4
GenericName[pt]=Um GUI de Git para o KDE
GenericName[pt_BR]=Interface Git para o KDE
GenericName[sk]=Git GUI pre KDE
GenericName[sv]=Grafiskt gränssnitt till Git för KDE
GenericName[tr]=KDE için Git grafik kullanıcı arayüzü
GenericName[ug]=گرافىكىلىق GIT كۆرۈنمەيۈزى (KDE ئۈچۈن)
GenericName[uk]=Графічний інтерфейс для роботи з Git у KDE
GenericName[x-test]=xxGit GUI for KDExx
GenericName[zh_CN]=KDE 的 Git 图形用户界面
Categories=Development;RevisionControl;
Terminal=false
