<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="cocoon" version="1">

  <MenuBar>
    <Menu name="repository" >
      <text>&amp;Repository</text>
      <Action name="repository_open" />
      <Action name="repository_reload" />
    </Menu>
    <Menu name="commit" >
      <text>&amp;Commit</text>
      <Action name="file_stage" />
      <Action name="file_unstage" />
      <!--Action name="file_revert" /-->
      <Separator />
      <Action name="commit" />
    </Menu>
    <!--Menu name="merge" >
      <text>&amp;Merge</text>
    </Menu-->
    <!--Menu name="remote" >
      <text>&amp;Remote</text>
      <Action name="remote_fetch" />
      <Action name="remote_push" />
    </Menu-->
  </MenuBar>

  <ToolBar name="mainToolBar" >
    <text>Main Toolbar</text>
    <Action name="repository_reload" />
    <Separator />
    <Action name="commit" />
  </ToolBar>

</kpartgui>
