[Desktop Entry]
Name=Cocoon
Name[bg]=Cocoon
Name[cs]=Cocoon
Name[da]=Cocoon
Name[de]=Cocoon
Name[en_GB]=Cocoon
Name[es]=Cocoon
Name[et]=Cocoon
Name[fr]=Cocoon
Name[it]=Cocoon
Name[mai]=Cocoon
Name[nds]=Kokon
Name[nl]=Cocoon
Name[pa]=ਕੋਨੂਨ
Name[pt]=Cocoon
Name[pt_BR]=Cocoon
Name[sv]=Kokong
Name[ug]=Cocoon
Name[uk]=Cocoon
Name[x-test]=xxCocoonxx
Exec=cocoon %i -caption "%c"
Icon=cocoon
Type=Application
X-DocPath=cocoon/index.html
GenericName=Git GUI for KDE
GenericName[bg]=Програма за Git в KDE
GenericName[da]=Git-brugerflade til KDE
GenericName[de]=Git-Oberfläche für KDE
GenericName[en_GB]=Git GUI for KDE
GenericName[es]=Interfaz de usuario Git para KDE
GenericName[et]=KDE Giti graafiline kasutajaliides
GenericName[fr]=Interface graphique Git pour KDE
GenericName[it]=GUI di Git per KDE
GenericName[nds]=KDE-Böversiet för Git
GenericName[nl]=Git-GUI voor KDE
GenericName[pa]=KDE ਲਈ ਗਿਟ GUI
GenericName[pt]=Um GUI de Git para o KDE
GenericName[pt_BR]=Interface Git para o KDE
GenericName[sv]=Grafiskt gränssnitt till Git för KDE
GenericName[ug]=گرافىكىلىق GIT كۆرۈنمەيۈزى (KDE ئۈچۈن)
GenericName[uk]=Графічний інтерфейс для роботи з Git у KDE
GenericName[x-test]=xxGit GUI for KDExx
Categories=Development;RevisionControl;
Terminal=false
